* {
	/* Fixing the box-sizing issue */
	/* Explanation: https://www.w3schools.com/css/css3_box-sizing.asp */
	box-sizing: border-box;

	/* Setting all default margin and padding to 0, because elements have pretty arbitary initial settings */
	margin: 0;
	padding: 0;

	/* Smooth scrolliing when anchor links pressed */
	scroll-behavior: smooth;
}

    :root {
        --box-border-color: #6547ff;
        --box-border-width: 2px;
        --posX: 40px;
        --posY: 40px;
    }

    .menu {
		padding: 20px;
        height: 20vh;
		display: flex;
		flex-direction: row;
		gap: 20px;
        overflow: visible;
    }

    .container {
		padding: 20px;
		display: flex;
		flex-direction: row;
        align-items: center;
		gap: 40px;
        overflow: visible;
        height: 60vh;
	}

    .box{
        position: relative;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 20px;
         border: var(--box-border-width) solid var(--box-border-color);
         background: #ffffff00;
         overflow: visible;
    }

    .box-background{
        position: absolute;
        left: var(--posX);
        top:  var(--posY);
        width: 100%;
        height: 100%;
        border: var(--box-border-width) solid var(--box-border-color);
        z-index: -1;
        overflow: visible;
    }

   

    .corners{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: visible;
        stroke-linecap: round;
    }

    .corner{
        stroke: var(--box-border-color);
        stroke-width: var(--box-border-width);
    }

    .box-content{
        position: relative;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        left: calc(var(--posX)/2);
        top:  calc(var(--posY)/2);
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: visible;
    }

    /* General styles for the whole page */
    h1 {
        font-family: 'Arial Black', sans-serif;
        font-size: 3vw;
        color: var(--box-border-color);
    }