* {
	/* Fixing the box-sizing issue */
	/* Explanation: https://www.w3schools.com/css/css3_box-sizing.asp */
	box-sizing: border-box;

	/* Setting all default margin and padding to 0, because elements have pretty arbitary initial settings */
	margin: 0;
	padding: 0;

	/* Smooth scrolliing when anchor links pressed */
	scroll-behavior: smooth;
}

    :root {
        --box-border-color: #6547ff;
        --box-border-width: 2px;
        --posX: 20px;
        --posY: 20px;
    }

    .container {
		padding: 40px;
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

    .box{
        position: relative;
        width: min(90vw, 900px);
        padding: 80px;
         border: var(--box-border-width) solid var(--box-border-color);
         background: #fff;
    }

    .box-background{
        position: absolute;
        left: var(--posX);
        top:  var(--posY);
        width: 100%;
        height: 100%;
        border: var(--box-border-width) solid var(--box-border-color);
        z-index: -1;
    }

    .corners{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .corner{
        stroke: var(--box-border-color);
        stroke-width: var(--box-border-width);
    }

    .box-content{
        position: relative;
        text-align: center;
    }

    /* General styles for the whole page */
    .h1{
        font-family: 'Arial Black', sans-serif;
        font-size: 5vw;
        color: var(--box-border-color);
    }